[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
fileperms = {editable = true, path = "."}
pylint = "==2.13.9"
pytest = "==7.1.2"
twine = "==4.0.0"
wheel = '==0.38.1'
tox = "*"
tox-asdf = "*"
